@* Cookie-based auth partial - the old Identity/SignInManager version is gone because the
   frontend no longer talks to the database. Roles and the user's name come from the cookie. *@

<ul class="navbar-nav">
@if (User.Identity?.IsAuthenticated == true)
{
    <li class="nav-item">
        <span class="nav-link text-dark">Hello @User.Identity.Name!</span>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
            <button type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
</ul>
