@model PROG7311_GLMS_ST10435542.Models.ServiceRequest

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create New Courier Request</title>
</head>
<body>

<h2>ServiceRequest</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContractId" class="control-label"></label>
                <select asp-for="ContractId" class ="form-control" asp-items="ViewBag.ContractId"></select>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PickupAddress"></label>
                        <input asp-for="PickupAddress" class="form-control" />
                        <span asp-validation-for="PickupAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DeliveryAddress"></label>
                        <input asp-for="DeliveryAddress" class="form-control" />
                        <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="RecipientName"></label>
                        <input asp-for="RecipientName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="RecipientPhone"></label>
                        <input asp-for="RecipientPhone" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Package Size</label>
                <select asp-for="PackageSizeCategory" id="PackageSizeCategory" class="form-control">
                    <option value="">-- Select Size --</option>
                    <option value="1-5kg">1-5kg ($5.00)</option>
                    <option value="5-10kg">5-10kg ($10.00)</option>
                    <option value="10+kg">10+kg ($20.00)</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="OriginalCost" class="control-label"> Amount (USD) to Convert </label>
                <input asp-for="OriginalCost" class="form-control" readonly="readonly" />
                <span asp-validation-for="OriginalCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlaType"></label>
                <select asp-for="SlaType" class="form-control">
                    <option value="Standard">Standard (3-5 Days)</option>
                    <option value="Express">Express (Same Day)</option>
                </select>
            </div>
            @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
            {
                <div class="form-group mb-3">
                    <label asp-for="AssignedDriverId" class="control-label">Assign Driver</label>
                    <select asp-for="AssignedDriverId" class="form-control" asp-items="ViewBag.DriverList">
                        <option value="">-- Select a Driver --</option>
                    </select>
                    <span asp-validation-for="AssignedDriverId" class="text-danger"></span>
                </div>
            }
            else
            {
                @* clients wont see the dropdown. Only admins and staff can assign drivers *@
                <input type="hidden" asp-for="AssignedDriverId" value="" />
            }

            </p>
            <div class="form-group" class="mt-4 d-flex gap-2">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
                
                @if (User.IsInRole("Client")) {
                    <a asp-action="MyRequests" class="btn btn-outline-dark">Back to List</a>
                }
                else if (User.IsInRole("Driver")) {
                    <a asp-action="DriverIndex" class="btn btn-outline-dark">Back to List</a>
                }
                else {
                    <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
                }
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    function calculatePrice() {
        var size = document.getElementById('PackageSizeCategory').value;
        var sla = document.getElementById('SlaType').value;
        var prices = { "1-5kg": 5.00, "5-10kg": 10.00, "10+kg": 20.00 };
        
        var base = prices[size] || 0;
        var final = (sla === "Express") ? (base * 1.5) : base; // calculates the final price based on the selected size and type of delivery. Express delivery is 1.5x more than standard
        
        document.getElementById('OriginalCost').value = final.toFixed(2);
    }

    document.getElementById('PackageSizeCategory').addEventListener('change', calculatePrice);
    document.getElementById('SlaType').addEventListener('change', calculatePrice);
</script>
}
</body>
</html>
